<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Cynanthus Dayi</title>
</head>
<body>

<!-- Vista general de instrucciones -->
<div th:fragment="instructionsView" class="d-flex flex-column h-100 bg-light rounded border">

    <!-- Parte superior -->
    <div class="row m-2">
        <div class="col p-0">
            <h3 id="instructionsTitle" th:text="'Conjuntos de instrucciones'"></h3>
        </div>

        <!-- Añadir nuevo conjunto de instrucciones -->
        <div sec:authorize="hasRole('ADMIN')" class="col-xs">
            <button id="addSetButton" type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#addSetDialog">
                <i class="fas fa-plus"></i> <span id="addSetButton-text" th:text="'Agregar nuevo conjunto'"></span>
            </button>
        </div>

    </div>

    <!-- Contenido -->
    <div
            id="instructionsContainer"
            class="row flex-fill m-2 bg-white border rounded"
            th:with="hasSets = !${#lists.isEmpty(sets)}"
    >

        <!-- Lista de conjuntos de instrucciones disponibles -->
        <div id="instructionSetListContainer" class="col-md-2 p-1 border-right overflow-auto">
            <div th:replace="~{this::setsBar}"></div>
        </div>

        <!-- Contenido de la vista de conjunto de instrucciones seleccionada -->
        <div id="currentSetContainer" class="col-md-10 p-1">
            <div th:replace="~{this::instructionsSummaryView}"></div>
        </div>

    </div>

    <th:block sec:authorize="hasRole('ADMIN')">
        <section th:replace="~{this::saveInstructionSetDialog('addSetDialog','Agregar nuevo conjunto',${emptySet})}">
        </section>
    </th:block>

</div>

<!--Vista de conjunto de instruccion actual -->
<div
        th:fragment="currentSetView"
        th:object="${currentSet}"
        class="d-flex flex-fill flex-column h-100 m-0 p-0 rounded-right border bg-light"
>

    <!-- Cabecero de la vista de conjunto seleccionado -->
    <div class="row m-0 border-bottom p-1">
        <div class="col align-middle m-auto">
            <h5 id="currentSet-title" th:text="*{name}"></h5>
        </div>

        <div sec:authorize="hasRole('ADMIN')" class="col-xs p-0">

            <button
                    id="addInstructionButton"
                    type="button"
                    class="btn btn-light"
                    data-toggle="modal"
                    data-target="#addInstructionDialog"
                    th:title="'Agregar una instrucción'"
            >
                <span><i class="fas fa-plus"></i></span>
            </button>

            <button
                    id="updateCurrentSetButton"
                    type="button"
                    class="btn btn-light"
                    data-toggle="modal"
                    data-target="#updateCurrentSetDialog"
                    th:title="'Editar información del conjunto'"
            >
                <span><i class="fas fa-pen"></i></span>
            </button>
            <button
                    id="deleteCurrentSetButton"
                    type="button"
                    class="btn btn-light"
                    data-toggle="modal"
                    data-target="#deleteCurrentSetDialog"
                    title="Eliminar conjunto"
            >
                <span><i class="fas fa-trash"></i></span>
            </button>
        </div>
    </div>

    <!-- Contenido de la vista de conjunto seleccionado -->
    <div
            class="row flex-fill m-0 bg-white"
            th:with="hasInstructions = !${#lists.isEmpty(currentSet.instructions)}"
    >
        <!-- Si tiene instrucciones -->
        <th:block th:if="${hasInstructions}">
            <div th:replace="this::instructionsTable"></div>
        </th:block>

        <!-- Si no tiene instrucciones -->
        <th:block th:unless="${hasInstructions}">
            <div class="d-flex flex-fill text-center align-middle">
                <h6 class="m-auto" th:text="'No hay instrucciones registradas'"></h6>
            </div>
        </th:block>

    </div>

    <!-- Tira informativa del conjunto -->
    <div class="row m-0 p-1 border-top">
        <p
                id="currentSet-info"
                th:text="(!${#strings.isEmpty(currentSet.info)})?*{info}:'---'"
                class="w-100 m-0 p-0 text-center"
        >
        </p>
    </div>

    <th:block sec:authorize="hasRole('ADMIN')">
        <section
                th:replace="~{this::saveInstructionDialog('addInstructionDialog','Agregar instrucción','',${emptyInstruction})}"></section>
        <section
                th:replace="~{this::saveInstructionSetDialog('updateCurrentSetDialog','Actualizar conjunto',${currentSet})}"></section>
        <section th:replace="~{components/modals::deleteDialog('deleteCurrentSetDialog','',*{id},*{name})}"></section>
    </th:block>

</div>

<div th:fragment="instructionsTable" class="container-fluid p-0">

    <table class="table table-striped table-borderless">

        <!--Cabezera de la table -->
        <thead class="dayi-bg text-white sticky-top">
        <tr>
            <th class="col-2 p-2 text-center align-middle" scope="col" th:text="'Nombre'"></th>
            <th class="col p-2 text-center align-middle" scope="col" th:text="'Vector'"></th>
            <th class="col-xs" scope="col"></th>
            <th:block sec:authorize="hasRole('ADMIN')">
                <th class="col-xs" scope="col"></th>
                <th class="col-xs" scope="col"></th>
            </th:block>
        </tr>
        </thead>

        <!--Cuerpo de la tabla -->
        <tbody>
        <tr
                th:each="instruction : ${currentSet.instructions}"
                th:object="${instruction}"
                th:with="rowId ='set-'+*{id}"
                class="border-top"
        >
            <td class='font-weight-bold border-right' th:text="*{name}"></td>
            <td class="col text-truncate" style="max-width: 50px" th:text="*{vector}"></td>
            <td class="p-2 text-center align-middle w-auto">
                <button
                        type="button"
                        class="btn btn-light pt-0 pl-1 pb-0 pr-1"
                        data-toggle="modal"
                        th:attrappend="data-target=|#${rowId}-show|"
                        th:title="'Mostrar vector completo'"
                >
                    <span><i class="fas fa-eye"></i></span>
                </button>
                <section th:replace="~{this::showVector(${rowId}+'-show',${instruction})}"></section>
            </td>
            <th:block sec:authorize="hasRole('ADMIN')">
                <td class="p-2 text-center align-middle w-auto">
                    <button
                            type="button"
                            class="btn btn-light pt-0 pl-1 pb-0 pr-1"
                            data-toggle="modal"
                            th:attrappend="data-target=|#${rowId}-update|"
                            th:title="'Editar instrucción'"
                    >
                        <span><i class="fas fa-pen"></i></span>
                    </button>
                    <section
                            th:replace="~{this::saveInstructionDialog(${rowId}+'-update','Editar instrucción','update-list',${instruction})}"></section>
                </td>
                <td class="p-2 text-center align-middle w-auto">
                    <button
                            type="button"
                            class="btn btn-light pt-0 pl-1 pb-0 pr-1"
                            data-toggle="modal"
                            th:attrappend="data-target=|#${rowId}-delete|"
                            th:title="'Eliminar instrucción'"
                    >
                        <span><i class="fas fa-trash"></i></span>
                    </button>
                    <section
                            th:replace="~{components/modals::deleteDialog(${rowId}+'-delete','delete-list',*{id},*{name})}"></section>
                </td>
            </th:block>
        </tr>
        </tbody>
    </table>

</div>

<section th:fragment="saveInstructionSetDialog(dialogId,title,instructionSet)">

    <div th:id="${dialogId}" class="modal fade">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">

                <div th:replace="~{components/modals::modalHeader(${dialogId},${title})}"></div>

                <form
                        th:id="${dialogId}+'-form'"
                        th:object="${instructionSet}"
                        method="POST"
                        novalidate
                >
                    <input
                            th:id="${dialogId}+'-id'"
                            th:value="*{id}"
                            name="id"
                            type="hidden"
                    />

                    <div class="modal-body">

                        <!-- campo name -->
                        <div class="form-group" th:with="elementId = ${dialogId}+'-name'">
                            <label th:for="${elementId}" th:text="'Nombre del conjunto'"></label>
                            <input
                                    th:id="${elementId}"
                                    th:value="*{name}"
                                    name="name"
                                    type="text"
                                    class="form-control"
                                    th:placeholder="'Nombre del conjunto'"
                                    required
                                    maxlength="25"
                                    pattern="[a-zA-Z_$][a-zA-Z\s\d_$]*"
                            >
                            <div class="valid-feedback" th:text="'¡Correcto!'"></div>
                            <div class="invalid-feedback" th:text="'Ingresa un dato válido para este campo'"></div>

                        </div>

                        <!-- campo info -->
                        <div class="form-group" th:with="elementId = ${dialogId}+'-info'">
                            <label th:for="${elementId}" th:text="'Información adicional'"></label>
                            <textarea
                                    th:id="${elementId}"
                                    th:text="*{info}"
                                    name="info"
                                    class="form-control"
                                    th:placeholder="'Agrega una descripción (opcional)'"
                                    rows="2"
                                    maxlength="300"
                            ></textarea>
                            <div class="valid-feedback" th:text="'¡Correcto!'"></div>
                            <div class="invalid-feedback" th:text="'Ingresa un dato válido para este campo'"></div>
                        </div>

                    </div>

                    <div th:replace="~{components/modals::submitFooter}"></div>

                </form>

            </div>
        </div>
    </div>

</section>

<section th:fragment="saveInstructionDialog(dialogId,title,class,instruction)">

    <div th:id="${dialogId}" class="modal fade" th:classappend="${class}">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div th:replace="~{components/modals::modalHeader(${dialogId},${title})}"></div>

                <form
                        th:id="${dialogId}+'-form'"
                        th:object="${instruction}"
                        method="POST"
                        novalidate
                >
                    <input
                            th:id="${dialogId}+'-id'"
                            th:value="*{id}"
                            name="id"
                            type="hidden"
                    />

                    <div class="modal-body">

                        <div class="form-row">
                            <div class="col-md-3">
                                <div class="alert alert-primary m-auto">
                                    <p>
                                        Introduzca el vector sustituyendo cada código
                                        de emisor de rayos infrarrojo por su clave
                                        correspondiente:
                                    </p>
                                    <ul>
                                        <li
                                                th:each="controlCode : ${T(edu.cynanthus.domain.ControlCode).values()}"
                                                th:text="${controlCode.ordinal}+':'+${controlCode.code}"
                                        ></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <!-- campo name -->
                                <div class="form-group" th:with="elementId = ${dialogId}+'-name'">
                                    <label th:for="${elementId}" th:text="'Nombre clave'"></label>
                                    <input
                                            th:id="${elementId}"
                                            th:value="*{name}"
                                            name="name"
                                            type="text"
                                            class="form-control"
                                            th:placeholder="'Nombre de la instrucción'"
                                            required
                                            maxlength="45"
                                            pattern="[a-zA-Z_$][a-zA-Z\s\d_$]*"
                                    >
                                    <div class="valid-feedback" th:text="'¡Correcto!'"></div>
                                    <div class="invalid-feedback"
                                         th:text="'Ingresa un dato válido para este campo'"></div>
                                </div>

                                <!-- campo vector -->
                                <div class="form-group" th:with="elementId = ${dialogId}+'-vector'">
                                    <label th:for="${elementId}" th:text="'Vector'"></label>
                                    <input
                                            th:id="${elementId}"
                                            th:value="*{vector}"
                                            type="text"
                                            name="vector"
                                            class="form-control"
                                            th:placeholder="'Introduce la secuencia de números del vector'"
                                            required
                                            maxlength="255"
                                            pattern="[0-5]*"
                                    >
                                    <small th:id="${dialogId}+'-vector-small-size'" class="form-text text-muted">
                                        [[#{Size.instruction.vector}]]
                                    </small>
                                    <small th:id="${dialogId}+'-vector-small-size'" class="form-text text-muted">
                                        [[#{Pattern.instruction.vector}]]
                                    </small>

                                    <div class="valid-feedback" th:text="'¡Correcto!'"></div>
                                    <div class="invalid-feedback"
                                         th:text="'Ingresa un dato válido para este campo'"></div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div th:replace="~{components/modals::submitFooter}"></div>
                </form>
            </div>
        </div>
    </div>

</section>

<section
        th:fragment="showVector(dialogId,instruction)"
        th:object="${instruction}"
        th:replace="~{components/modals::informativeDialog(${dialogId},*{name},*{vector},'Cerrar','xl')}"
>
</section>

<div
        th:fragment="setsBar" class="d-flex flex-column h-100"
        th:with="hasSets = !${#lists.isEmpty(sets)}"
>
    <th:block th:if="${hasSets}">
        <nav class="nav nav-pills flex-column w-100 m-0">
            <ul class="row m-0 p-0">
                <!-- Iteración por los conjuntos disponibles -->
                <li th:each="set :${sets}" class="nav-item w-100 pb-1">
                    <a
                            th:id="'setLink-'+${set.id}"
                            class="nav-link section-bar text-center"
                            th:onclick="'appController.delegate.loadInstructionSetView('+${set.id}+',this)'"
                            href="#"
                            th:text="${set.name}"
                    ></a>
                </li>
            </ul>
        </nav>
    </th:block>

    <th:block th:unless="${hasSets}">
        <div class="d-flex flex-fill text-center align-middle">
            <h6 class="m-auto" th:text="'No hay conjuntos registrados'"></h6>
        </div>
    </th:block>

</div>

<div th:fragment="instructionsSummaryView" class="d-flex h-100 p-0">
    <h6 class="m-auto" th:text="'Selecciona un conjunto de instrucciones'"></h6>
</div>

</body>

</html>