<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Cynanthus Dayi</title>
</head>
<body>

<div th:fragment="modalHeader(idPreffix,title)" class="modal-header text-white dayi-primary">
    <h5 th:id="${idPreffix}+'-title'" class="modal-title" th:text="${title}">Title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div th:fragment="messageBodyModal(idPreffix,message)" class="modal-body">
    <div class="container-fluid p-0 w-100 text-center overflow-auto">
        <span><p th:id="${idPreffix}+'-message'" th:text="${message}" class="text-wrap"></p></span>
    </div>
</div>

<section th:fragment="deleteDialog(dialogId,class,elementId,elementName)">
    <div th:id="${dialogId}" class="modal fade" th:classappend="${class}"
         th:attrappend="data-element-id=|${elementId}|">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div th:replace="~{this::modalHeader(${dialogId},'Eliminar '+${elementName})}"></div>
                <div th:replace="~{this::messageBodyModal(${dialogId},'¿Desea eliminar '+${elementName}+'?')}"></div>

                <form th:id="${dialogId}+'-form'">
                    <div class="modal-footer bg-light">
                        <div class="m-auto">
                            <button th:replace="~{this::cancelButton}"></button>
                            <button
                                    type="submit"
                                    class="btn btn-danger modal-button"
                            >
                                <span th:id="${dialogId}+'-submit-text'" th:text="'Eliminar'"></span>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

<button th:fragment="cancelButton" type="reset" class="btn btn-secondary modal-button" data-dismiss="modal">
    <span th:text="'Cancelar'"></span>
</button>

<div th:fragment="hiderFooter(text)" class="modal-footer">
    <div class="m-auto">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
            <span th:text="${text}"></span>
        </button>
    </div>
</div>

<div th:fragment="submitFooter" class="modal-footer bg-light">
    <div class="m-auto">
        <button th:replace="~{this::cancelButton}"></button>
        <button
                type="submit"
                class="btn btn-primary modal-button"
        >
            <span th:text="'Hecho'"></span>
        </button>
    </div>
</div>

<section th:fragment="informativeDialog(dialogId,title,message,continueText,size)">
    <div th:id="${dialogId}" class="modal fade">
        <div class="modal-dialog modal-dialog-centered" th:classappend="'modal-'+${size}">
            <div class="modal-content">
                <div th:replace="~{this::modalHeader(${dialogId},${title})}"></div>
                <div th:replace="~{this::messageBodyModal(${dialogId},${message})}"></div>
                <div th:replace="~{this::hiderFooter(${continueText})}"></div>
            </div>
        </div>
    </div>
</section>

</body>
</html>