<!DOCTYPE html>
<html
        lang="es"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Cynanthus Dayi</title>
</head>
<body>

<!-- Vista del servidor actual -->
<div th:fragment="currentServerView" th:object="${currentServer}"
     class="d-flex flex-column h-100 rounded border bg-light"
>
    <!-- Parte superior -->
    <div class="row m-2">

        <!-- Indicador de disponibilidad -->
        <div class="col-xs p-3" id="availableIndicatorContainer">
            <div class="spinner-border text-info"></div>
        </div>

        <!-- Area de titulo -->
        <div class="col">
            <div class="row m-0">
                <h3 id="serverTitle" th:text="*{name}">Nombre servidor</h3>
            </div>
            <div class="row m-0">
                <h6 id="serverAddress" th:text="(*{address})+':'+(*{port})">Dirección</h6>
            </div>
        </div>

        <!-- Acciones disponibles para el servidor (Solo si el usuario es ADMIN) -->
        <div sec:authorize="hasRole('ADMIN')" class="col-xs">
            <!-- Editar servidor actual -->
            <button
                    type="button"
                    class="btn btn-light"
                    data-toggle="modal"
                    data-target="#updateServerDialog"
                    title="Editar información del servidor"
            >
                <span><i class="fas fa-pen"></i></span>
            </button>

            <!-- Eliminar servidor actual -->
            <button
                    type="button"
                    class="btn btn-light"
                    data-toggle="modal"
                    data-target="#deleteServerDialog"
                    title="Eliminar información del servidor"
            >
                <span><i class="fas fa-trash"></i></span>
            </button>
        </div>

    </div>

    <!-- Parte de mensaje de no conexión -->
    <div id="unavailableMessageContainer" class="row m-0 d-none">
        <div class="alert alert-warning rounded-0 border-left-0 border-right-0 p-2 w-100">
            <p class="w-100 m-auto text-center"
               th:text="'No se logró establecer comunicación con el servidor. Verifique la dirección y puerto de referencia o asegurese que el microservicio correspondiente se esté ejecutando'">
            </p>
        </div>
    </div>

    <!-- Selector de contenido de vista de servidor -->
    <div class="row m-0 ml-2 mr-2">
        <ul
                class="nav nav-tabs w-100"
                th:with="isStorageServer = (*{serverType.name}) == 'STORAGE'"
        >
            <!-- Si el servidor no es de almacenamiento se añade pestaña de vista de nodos -->
            <th:block th:if="!${isStorageServer}" th:switch="*{serverType.name}">
                <li th:case="'STREAM_DATA'" class="nav-item">
                    <a
                            id="sensingNodesLink"
                            class="nav-link"
                            href="#"
                            th:text="'Nodos de sensado'"
                            onclick="appController.delegate.loadSensingNodesView(this)"
                    ></a>
                </li>
                <li th:case="'CONTROL'" class="nav-item">
                    <a
                            id="controlNodesLink"
                            class="nav-link"
                            href="#"
                            th:text="'Nodos de control'"
                            onclick="appController.delegate.loadControlNodesView(this)"
                    ></a>
                </li>
            </th:block>

            <!-- Opción de vista de propiedades (disponible para todos los servidores) -->
            <li class="nav-item">
                <a
                        id="propertiesLink"
                        class="nav-link"
                        href="#"
                        th:text="'Propiedades'"
                        onclick="appController.delegate.loadPropertiesView(this)"
                ></a>
            </li>

            <!-- Opción de vista de registro de eventos -->
            <li class="nav-item">
                <a
                        id="logLink"
                        class="nav-link"
                        href="#"
                        th:text="'Registro del servidor'"
                        onclick="appController.delegate.loadLogView(this)"
                ></a>
            </li>

        </ul>
    </div>

    <!-- Contenido del selector según opción de vista elegida o por defecto -->
    <div class="row m-0 mr-2 ml-2 flex-fill border-left border-bottom border-right rounded-bottom bg-white">
        <div id="serverMainContainer" class="container-fluid p-0">
            <div th:replace="~{this::serverSummaryView}"></div>
        </div>
    </div>

    <!-- Parte de información adicional del servidor -->
    <div class="row m-0 p-1">
        <p
                id="serverInfoText"
                class="m-0 p-0 w-100 text-center" th:text="(!${#strings.isEmpty(currentServer.info)})?*{info}:'---'"
        >
        </p>
    </div>

    <th:block sec:authorize="hasAnyRole('ADMIN')">
        <section th:replace="~{this::saveServerDialog('updateServerDialog','Actualizar información',${currentServer})}">
        </section>
        <section th:replace="~{components/modals::deleteDialog('deleteServerDialog','',*{id},*{name})}"></section>
    </th:block>

</div>

<!-- Vista de beinvenida al servidor -->
<div th:fragment="serverSummaryView" class="row h-100 m-0">
    <div class="col m-auto text-center">
        <h6 th:text="'Selecciona una pestaña'"></h6>
    </div>
</div>

<!-- Dialogo para añadir y actualizar servidores -->
<section th:fragment="saveServerDialog(dialogId,title,serverInfo)">
    <div th:id="${dialogId}" class="modal fade">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div th:replace="~{components/modals::modalHeader(${dialogId},${title})}"></div>

                <form
                        th:id="${dialogId}+'-form'"
                        th:object="${serverInfo}"
                        method="POST"
                        novalidate
                >
                    <input
                            th:id="${dialogId}+'-id'"
                            th:value="*{id}"
                            name="id"
                            type="hidden"
                    />

                    <div class="modal-body">

                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <!-- Campo name -->
                                <div class="form-group" th:with="elementId= ${dialogId}+'-name'">
                                    <label th:for="${elementId}" th:text="'Nombre de servidor'"></label>
                                    <input
                                            th:id="${elementId}"
                                            th:value="*{name}"
                                            name="name"
                                            type="text"
                                            class="form-control"
                                            th:placeholder="'Ingrese nombre de servidor a registrar'"
                                            required
                                            maxlength="45"
                                            pattern="[a-zA-Z_$][a-zA-Z\s\d_$]*"
                                    >
                                    <div class="valid-feedback" th:text="'¡Correcto!'"></div>
                                    <div class="invalid-feedback"
                                         th:text="'Ingresa un dato válido para este campo'"></div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <!-- campo serverType -->
                                <div class="form-group" th:with="elementId = ${dialogId}+'-serverType'">
                                    <label th:for="${elementId}" th:text="'Tipo de servidor'"></label>
                                    <select
                                            th:id="${elementId}"
                                            th:with="selectTo = *{serverType}? *{serverType.name}:'STORAGE'"
                                            name="serverType"
                                            class="custom-select"
                                            required
                                    >

                                        <option
                                                th:each="serverType : ${T(edu.cynanthus.domain.ServerType).values()}"
                                                th:value="${serverType.name}"
                                                th:text="${serverType.alias}"
                                                th:selected="${selectTo}==${serverType.name}"
                                        ></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <!-- campo address -->
                                <div class="form-group" th:with="elementId= ${dialogId}+'-address'">
                                    <label th:for="${elementId}"
                                           th:text="'Dirección en red del servidor'"></label>
                                    <input
                                            th:id="${elementId}"
                                            th:value="*{address}"
                                            name="address"
                                            type="text"
                                            class="form-control"
                                            th:placeholder="'Ingrese dirección en red'"
                                            required
                                            maxlength="60"
                                    >
                                    <div class="valid-feedback" th:text="'¡Correcto!'"></div>
                                    <div class="invalid-feedback"
                                         th:text="'Ingresa un dato válido para este campo'"></div>
                                </div>

                            </div>
                            <div class="col-md-6 mb-3">
                                <!-- campo port -->
                                <div class="form-group" th:with="elementId = ${dialogId}+'-port'">
                                    <label th:for="${elementId}" th:text="'Puerto'"></label>
                                    <input
                                            th:id="${elementId}"
                                            th:value="*{port}"
                                            name="port"
                                            type="number"
                                            class="form-control"
                                            th:placeholder="'Ingresa número de puerto'"
                                            required
                                            min="0"
                                            max="65536"
                                    >
                                    <div class="valid-feedback" th:text="'¡Correcto!'"></div>
                                    <div class="invalid-feedback"
                                         th:text="'Ingresa un dato válido para este campo'"></div>
                                </div>
                            </div>
                        </div>

                        <!-- campo info -->
                        <div class="form-group" th:with="elementId = ${dialogId}+'-info'">
                            <label th:for="${elementId}" th:text="'Información adicional'"></label>
                            <textarea
                                    th:id="${elementId}"
                                    th:text="*{info}"
                                    name="info"
                                    class="form-control"
                                    th:placeholder="'Agrega información adicional (opcional)'"
                                    rows="2"
                                    maxlength="300"
                            >
                            </textarea>
                            <div class="valid-feedback" th:text="'¡Correcto!'"></div>
                            <div class="invalid-feedback" th:text="'Ingresa un dato válido para este campo'"></div>
                        </div>

                    </div>

                    <div th:replace="~{components/modals::submitFooter}"></div>

                </form>

            </div>
        </div>
    </div>
</section>

<!-- Panel superior en vista de nodos (contiene el boton de añadir nodo) -->
<div th:fragment="nodePane" class="container-fluid p-1 bg-light border-top border-bottom">
    <div class="row m-0">
        <div class="col p-0">

        </div>
        <div class="col-xs p-0">
            <button
                    id="addNodeButton"
                    type="button"
                    class="btn btn-primary pt-1 pr-2 pb-1 pl-2"
                    data-toggle="modal"
                    data-target="#addNodeDialog"
            >
                <i class="fas fa-plus"></i> <span id="addNodeButton-text" th:text="${'Regitsrar nodo'}"></span>
            </button>
        </div>
    </div>
</div>

<!-- Vista de nodos de sensado -->
<div th:fragment="sensingView" class="row m-0 pt-2 h-100">
    <div class="col p-0">
        <div class="d-flex flex-column h-100">
            <div class="row m-0">
                <div th:replace="~{this::nodePane}"></div>
            </div>
            <div class="row flex-fill m-0">
                <div id="subViewContainer" class="container-fluid h-100 p-0">
                    <div th:replace="~{this::loadingView}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Vista de nodos de control -->
<div th:fragment="controlView" class="row pt-2 m-0 h-100">
    <div class="col p-0">
        <div class="d-flex flex-column h-100">
            <div class="row m-0">
                <div th:replace="~{this::nodePane}"></div>
            </div>
            <div class="row flex-fill m-0">
                <div id="subViewContainer" class="container-fluid h-100 p-0">
                    <div th:replace="~{this::loadingView}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Vista de carga -->
<div th:fragment="loadingView" class="row h-100 m-0">
    <div class="col text-center m-auto">
        <div class="spinner-grow text-info" role="status"></div>
        <div class="spinner-grow text-info" role="status"></div>
        <div class="spinner-grow text-info" role="status"></div>
    </div>
</div>

<!-- Tabla de propiedades de cualquier servidor -->
<table th:fragment="propertiesTable" class="table table-striped table-borderless">
    <thead class="dayi-bg text-white sticky-top">
    <tr>
        <th class="p-2 text-center align-middle" scope="col">
            <h6 th:text="'Clave'" class="m-auto"></h6>
        </th>
        <th class="p-2 text-center align-middle" scope="col">
            <h6 th:text="'Valor'" class="m-auto"></h6>
        </th>
        <th class="p-2" scope="col">
            <div class="container-fluid h-100 p-0">
                <div class="row m-0">
                    <div class="col text-center">
                        <h6 th:text="'Información'" class="m-auto"></h6>
                    </div>
                    <div sec:authorize="hasRole('ADMIN')" class="col-xs p-0 ml-auto">
                        <button
                                type="button"
                                class="btn btn-light m-0 pt-0 pl-1 pb-0 pr-1"
                                data-toggle="modal"
                                data-target="#editPropertiesDialog"
                        >
                            <span><i class="fas fa-pen"></i></span>
                        </button>
                    </div>
                </div>
            </div>
        </th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="propertyInfo: ${propertyInfos}" class="border-top">
        <td class="font-weight-bold border-right" th:text="${propertyInfo.key}"></td>
        <td class="border-right" th:text="${propertyInfo.value}"></td>
        <td th:text="${propertyInfo.info}"></td>
    </tr>
    </tbody>
</table>

<!-- Vista de propiedades para servidores Sordidus (de almacenamiento) -->
<div th:fragment="sordidusPropertiesView" class="row m-0">
    <table th:replace="~{this::propertiesTable}"></table>

    <th:block sec:authorize="hasRole('ADMIN')">
        <section th:replace="~{this::editPropertiesDialog(~{this::sordidusPropertiesFormContent})}"></section>
    </th:block>
</div>

<!-- Vista de propiedades para servidores Latiro (de flujo de datos) -->
<div th:fragment="latiroPropertiesView" class="row m-0">
    <table th:replace="~{this::propertiesTable}"></table>

    <th:block sec:authorize="hasRole('ADMIN')">
        <section th:replace="~{this::editPropertiesDialog(~{this::latiroPropertiesFormContent})}"></section>
    </th:block>
</div>

<!-- Vista de propiedades para servidores Stris (de control) -->
<div th:fragment="strisPropertiesView" class="row m-0">
    <table th:replace="~{this::propertiesTable}"></table>

    <th:block sec:authorize="hasRole('ADMIN')">
        <section th:replace="~{this::editPropertiesDialog(~{this::strisPropertiesFormContent})}"></section>
    </th:block>
</div>

<!-- Diálogo general para la edicion de propiedades -->
<section th:fragment="editPropertiesDialog(formContent)" th:with="dialogId = 'editPropertiesDialog'">

    <div th:id="${dialogId}" class="modal fade">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div th:replace="~{components/modals::modalHeader(${dialogId},'Editar propiedades')}"></div>

                <form
                        th:id="${dialogId}+'-form'"
                        th:object="${config}"
                        method="POST"
                        novalidate
                >
                    <div th:replace="${formContent}"></div>
                    <div th:replace="~{components/modals::submitFooter}"></div>
                </form>
            </div>
        </div>
    </div>

</section>

<!-- Contenido del formulario para edicion de propieades de servidores Sordidus -->
<div th:fragment="sordidusPropertiesFormContent" class="modal-body">

    <div class="form-row">
        <!-- Campo port -->
        <div class="col-md-6 mb-3">
            <div class="form-group" th:with="elementId= ${dialogId}+'-port'">
                <label th:for="${elementId}" th:text="'Puerto'"></label>
                <input
                        th:id="${elementId}"
                        th:field="*{port}"
                        type="number"
                        class="form-control"
                        th:placeholder="'Ingresa el número de puerto'"
                        required
                        min="0"
                        max="65536"
                >
                <div class="valid-feedback" th:text="'¡Correcto!'"></div>
                <div class="invalid-feedback" th:text="'Ingresa un dato válido para este campo'"></div>
            </div>
        </div>
        <!-- campo dataFormat -->
        <div class="col-md-6 mb-3">
            <div class="form-group" th:with="elementId = ${dialogId}+'-dataFormat'">
                <label th:for="${elementId}" th:text="'Formato de datos'"></label>
                <select
                        th:id="${elementId}"
                        th:field="*{dataFormat}"
                        class="custom-select"
                        required
                >
                    <option value="ssv( )" th:text="'Pares clave-valor separados por espacios'"></option>
                    <option value="json" th:text="'Formato JSON'"></option>
                </select>
            </div>
        </div>
    </div>

    <!-- Campo dataDirectory -->
    <div class="form-group" th:with="elementId = ${dialogId}+'-dataDirectory'">
        <label th:for="${elementId}" th:text="'Directorio de datos'"></label>
        <input
                th:id="${elementId}"
                type="text"
                class="form-control"
                th:field="*{dataDirectory}"
                th:placeholder="'Introduzca una ruta de directorio'"
                required
                pattern="(.*)/([^/]*)"
        >
        <div class="valid-feedback" th:text="'¡Correcto!'"></div>
        <div class="invalid-feedback" th:text="'Ingresa un dato válido para este campo'"></div>
    </div>

</div>

<!-- Contenido del formulario para edición de propiedades de servidores Latiro -->
<div th:fragment="latiroPropertiesFormContent" class="modal-body">

    <div class="form-row">
        <!-- Campo port -->
        <div class="col-md-6">
            <div class="form-group" th:with="elementId = ${dialogId}+'-port'">
                <label th:for="${elementId}" th:text="'Puerto activo en este servidor'"></label>
                <input
                        th:id="${elementId}"
                        type="number"
                        class="form-control"
                        th:placeholder="'Ingrese número de puerto'"
                        th:field="*{port}"
                        required
                        min="0"
                        max="65536"
                >
                <div class="valid-feedback" th:text="'¡Correcto!'"></div>
                <div class="invalid-feedback" th:text="'Ingresa un dato válido para este campo'"></div>
            </div>
        </div>
        <!-- Campo emptySampleSetShipping -->
        <div class="col-md-6">
            <div class="form-group" th:with="elementId = ${dialogId}+'-emptySampleSetShipping'">
                <label th:for="${elementId}" th:text="'Enviar conjuntos de muestras vacios'"></label>

                <select
                        th:id="${elementId}"
                        th:field="*{emptySampleSetShipping}"
                        class="custom-select"
                        required
                >
                    <option value="true" th:text="'Sí'"></option>
                    <option value="false" th:text="'No'"></option>
                </select>

                <div class="valid-feedback" th:text="'¡Correcto!'"></div>
                <div class="invalid-feedback" th:text="'Ingresa un dato válido para este campo'"></div>
            </div>
        </div>
    </div>

    <div class="form-row">
        <!-- campo serverName -->
        <div class="col-md-6">
            <div class="form-group" th:with="elementId = ${dialogId}+'-serverName'">
                <label th:for="${elementId}" th:text="'Dirección de servidor Sordidus'"></label>
                <input
                        th:id="${elementId}"
                        th:field="*{serverName}"
                        th:placeholder="'Introduzca la dirección del servidor sordidus'"
                        type="text"
                        class="form-control"
                        required
                        minlength="6"
                >
                <div class="valid-feedback" th:text="'¡Correcto!'"></div>
                <div class="invalid-feedback" th:text="'Ingresa un dato válido para este campo'"></div>
            </div>
        </div>
        <!-- campo serverPort -->
        <div class="col-md-6">
            <div class="form-group" th:with="elementId = ${dialogId}+'-serverPort'">
                <label th:for="${elementId}" th:text="'Puerto del servidor sordidus'"></label>
                <input
                        th:id="${elementId}"
                        th:field="*{serverPort}"
                        type="number"
                        class="form-control"
                        required
                        th:placeholder="'Introduzca el puerto del servidor sordidus'"
                        min="0"
                        max="65536"
                >
                <div class="valid-feedback" th:text="'¡Correcto!'"></div>
                <div class="invalid-feedback" th:text="'Ingresa un dato válido para este campo'"></div>
            </div>
        </div>
    </div>

    <div class="form-row">
        <!-- Campo buffering time -->
        <div class="col-md-6">
            <div class="form-group" th:with="elementId = ${dialogId}+'-bufferingTime'">
                <label th:for="${elementId}" th:text="'Tiempo de muestreo del servidor'"></label>
                <input
                        th:id="${elementId}"
                        th:field="*{bufferingTime}"
                        type="number"
                        class="form-control"
                        th:placeholder="'Introduzca el tiempo en milisegundos'"
                        required
                        min="0"
                >
                <div class="valid-feedback" th:text="'¡Correcto!'"></div>
                <div class="invalid-feedback" th:text="'Ingresa un dato válido para este campo'"></div>
            </div>
        </div>
        <!-- Campo timeOut -->
        <div class="col-md-6">
            <div class="form-group" th:with="elementId = ${dialogId}+'-timeOut'">
                <label th:for="${elementId}" th:text="'Tiempo muerto del servidor'"></label>
                <input
                        th:id="${elementId}"
                        th:field="*{timeOut}"
                        type="number"
                        class="form-control"
                        th:placeholder="'Introduzca el tiempo en milisegundos'"
                        required
                        min="0"
                >
                <div class="valid-feedback" th:text="'¡Correcto!'"></div>
                <div class="invalid-feedback" th:text="'Ingresa un dato válido para este campo'"></div>
            </div>
        </div>
    </div>

    <div class="form-row">
        <!-- Campo sendAttemps -->
        <div class="col-md-6">
            <div class="form-group" th:with="elementId = ${dialogId}+'-sendAttemps'">
                <label th:for="${elementId}" th:text="'Número de intentos de envío'"></label>
                <input
                        th:id="${elementId}"
                        th:field="*{sendAttemps}"
                        type="number"
                        class="form-control"
                        required
                        min="0"
                        th:placeholder="'Introduzca el número de intentos'"
                >
                <div class="valid-feedback" th:text="'¡Correcto!'"></div>
                <div class="invalid-feedback" th:text="'Ingresa un dato válido para este campo'"></div>
            </div>
        </div>
        <!-- Campo waitTimeBetweenAttempts -->
        <div class="col-md-6">
            <div class="form-group" th:with="elementId = ${dialogId}+'-waitTimeBetweenAttempts'">
                <label th:for="${elementId}" th:text="'Tiempo de espera entre envios'"></label>
                <input
                        th:id="${elementId}"
                        th:field="*{waitTimeBetweenAttempts}"
                        type="number"
                        class="form-control"
                        th:placeholder="'Introduzca el tiempo en milisegundos'"
                        required
                        min="0"
                >
                <div class="valid-feedback" th:text="'¡Correcto!'"></div>
                <div class="invalid-feedback" th:text="'Ingresa un dato válido para este campo'"></div>
            </div>
        </div>
    </div>

    <div class="form-row">
        <!-- Campo sensorTimeOut -->
        <div class="col-md-6">
            <div class="form-group" th:with="elementId = ${dialogId}+'-sensorTimeOut'">
                <label th:for="${elementId}" th:text="'Tiempo muerto del sensor'"></label>
                <input
                        th:id="${elementId}"
                        th:field="*{sensorTimeOut}"
                        type="number"
                        class="form-control"
                        required
                        th:placeholder="'Introduzca el tiempo en milisegundos'"
                        min="0"
                >
                <div class="valid-feedback" th:text="'¡Correcto!'"></div>
                <div class="invalid-feedback" th:text="'Ingresa un dato válido para este campo'"></div>
            </div>
        </div>
        <!-- Campo sensorSamplingTime -->
        <div class="col-md-6">
            <div class="form-group" th:with="elementId = ${dialogId}+'-sensorSamplingTime'">
                <label th:for="${elementId}" th:text="'Tiempo de muestreo del sensor'"></label>
                <input
                        th:id="${elementId}"
                        th:field="*{sensorSamplingTime}"
                        type="number"
                        class="form-control"
                        required
                        th:placeholder="'Introduzca el tiempo en milisegundos'"
                        min="0"
                >
                <div class="valid-feedback" th:text="'¡Correcto!'"></div>
                <div class="invalid-feedback" th:text="'Ingresa un dato válido para este campo'"></div>
            </div>
        </div>
    </div>

</div>

<!-- Contenido del formulario para edición de propiedades de servidores Stris -->
<div th:fragment="strisPropertiesFormContent" class="modal-body">
    <div class="form-row">
        <!-- Campo webServerPort -->
        <div class="col-md-6">
            <div class="form-group" th:with="elementId = ${dialogId}+'-webServerPort'">
                <label th:for="${elementId}" th:text="'Puerto del servidor HTTP'"></label>
                <input
                        th:id="${elementId}"
                        type="number"
                        class="form-control"
                        th:placeholder="'Ingrese número de puerto del servidor HTTP'"
                        th:field="*{webServerPort}"
                        required
                        min="0"
                        max="65536"
                >
                <div class="valid-feedback" th:text="'¡Correcto!'"></div>
                <div class="invalid-feedback" th:text="'Ingresa un dato válido para este campo'"></div>
            </div>
        </div>
        <!-- Campo tcpServerPort -->
        <div class="col-md-6">
            <div class="form-group" th:with="elementId = ${dialogId}+'-tcpServerPort'">
                <label th:for="${elementId}" th:text="'Puerto del servidor TCP'"></label>
                <input
                        th:id="${elementId}"
                        type="number"
                        class="form-control"
                        th:placeholder="'Ingrese número de puerto del servidor TCP'"
                        th:field="*{tcpServerPort}"
                        required
                        min="0"
                        max="65536"
                >
                <div class="valid-feedback" th:text="'¡Correcto!'"></div>
                <div class="invalid-feedback" th:text="'Ingresa un dato válido para este campo'"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>