<!DOCTYPE html>
<html
        lang="es"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Cynanthus Dayi</title>
</head>
<body>

<!-- Vista de un servidor seleccionado -->
<div th:fragment="serverView" class="d-flex flex-fill bg-light rounded border h-100">
    <div class="d-flex flex-fill flex-column p-2">
        <!-- Parte superior -->
        <div class="row m-0 mb-2">

            <!-- Indicador de disponibilidad -->
            <div class="col-xs p-3">
                <i class="fas fa-2x"
                   th:classappend="${availableServer}? 'fa-check-circle available-indicator': 'fa-times-circle unavailable-indicator'"></i>
            </div>

            <!-- Area de titulo -->
            <div class="col">
                <div class="row m-0">
                    <h2 th:text="${currentServer.name}">Nombre servidor</h2>
                </div>
                <div class="row m-0">
                    <h6 th:text="${currentServer.address}+':'+${currentServer.port}">
                        Dirección del servidor en la red local
                    </h6>
                </div>
            </div>

            <!-- Acciones disponibles para el servidor (Solo si el usuario es ADMIN) -->
            <div sec:authorize="hasRole('ADMIN')" class="col-xs">
                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#updateServerModal">
                    <span><i class="fas fa-pen"></i></span>
                </button>
                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#deleteServerModal">
                    <span><i class="fas fa-trash"></i></span>
                </button>
            </div>

        </div>

        <!-- Advertencia de no disponibilidad -->
        <div th:if="!${availableServer}" class="row m-0">
            <div class="alert alert-warning mb-2 pb-0 w-100">
                <p class="w-100 text-center">
                    No se logró establecer comunicación con el servidor.
                    Verifique la dirección y puerto de referencia o asegurese que el microservicio correspondiente
                    se esté ejecutando.
                </p>
            </div>
        </div>

        <!-- Selector -->
        <div class="row m-0">
            <ul class="nav nav-tabs w-100 bg-light">

                <!-- Opcion para vista de nodos (solo si el servidor actual es de flujo de datos o de control) -->
                <li class="nav-item" th:if="${currentServer.serverType.name} != 'STORAGE'">
                    <a
                            class="nav-link"
                            th:classappend="${serverOption} == 'NODES' ? 'active':''"
                            th:href="@{/cynanthus/dayi/server/}+${currentServer.id}+@{/nodes}"
                    >
                        Nodos
                    </a>
                </li>

                <!-- Opción de vista de propiedades (disponible para todos los servidores) -->
                <li class="nav-item">
                    <a
                            class="nav-link"
                            th:classappend="${serverOption} == 'PROPERTIES' ? 'active':''"
                            th:href="@{/cynanthus/dayi/server/}+${currentServer.id}+@{/properties}"
                    >
                        Propiedades
                    </a>
                </li>

                <!-- Opción de vista de registro de eventos -->
                <li class="nav-item">
                    <a
                            class="nav-link"
                            th:classappend="${serverOption} == 'LOG' ? 'active':''"
                            th:href="@{/cynanthus/dayi/server/}+${currentServer.id}+@{/log}"
                    >
                        Registro del servidor
                    </a>
                </li>
            </ul>
        </div>

        <!-- Contenido del selector según opción de vista elegida o por defecto -->
        <div class="row m-0 flex-fill bg-white border-left border-bottom border-right rounded-bottom">

            <th:block th:switch="${serverOption}">

                <!-- si la opcion de vista elegida es NODES -->
                <th:block th:case="'NODES'">
                    <th:block th:switch="${currentServer.serverType.name}">
                        <th:block th:case="'STREAM_DATA'">
                            <div th:replace="~{/components/sensingNodes::sensingNodesView}"></div>
                        </th:block>
                        <th:block th:case="${'CONTROL'}">
                            <div th:replace="~{/components/controlNodes::controlNodesView}"></div>
                        </th:block>
                    </th:block>
                </th:block>

                <!-- si la opción de vista elegida es PROPERTIES -->
                <th:block th:case="'PROPERTIES'">
                    <div th:replace="${propertyList}? ~{/components/serverProperties::propertiesView}: ~{/components/serverProperties::noPropertiesView}"></div>
                </th:block>

                <!-- si la opción de vista elegida es LOG -->
                <th:block th:case="'LOG'">
                    <div th:replace="${availableServer}? ~{/components/serverLog::logView} : ~{/components/serverLog::noLogView}"></div>
                </th:block>
            </th:block>

        </div>

    </div>

    <section th:replace="this::deleteServerModal"></section>
    <section th:replace="this::updateServerModal"></section>

</div>

<!-- Modal para añadir un servidor -->
<section th:fragment="addServerModal">
    <div class="modal fade" th:id="'addServerModal'">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header text-white dayi-primary">
                    <h5 class="modal-title">Información del servidor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form
                        th:action="@{/cynanthus/dayi/server(previus=${currentPath})}"
                        th:object="${emptyServer}"
                        method="POST"
                        class="was-validated"
                >
                    <input type="hidden" name="id" th:field="*{id}" required="false"/>
                    <div class="modal-body">

                        <div class="form-group">
                            <label th:for="${#ids.next('name')}">Nombre servidor</label>
                            <input type="text" class="form-control" th:field="*{name}" required="true">
                        </div>
                        <div class="form-group">
                            <label th:for="${#ids.next('address')}">Dirección en red del servidor</label>
                            <input type="text" class="form-control" th:field="*{address}" required="true">
                        </div>
                        <div class="form-group">
                            <label th:for="${#ids.next('port')}">Puerto</label>
                            <input type="number" class="form-control" th:field="*{port}" required="true">
                        </div>
                        <div class="form-group">
                            <label th:for="${#ids.next('serverType')}">Tipo de servidor</label>
                            <select class="form-select" th:field="*{serverType}" required="true">
                                <option value="STORAGE" selected>Servidor de almacenamiento</option>
                                <option value="STREAM_DATA">Servidor de flujo de datos</option>
                                <option value="CONTROL">Servidor de control</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label th:for="${#ids.next('info')}">Información adicional</label>
                            <textarea cols="80" rows="2" th:field="*{info}" required="false"></textarea>
                        </div>

                    </div>

                    <div class="modal-footer bg-light">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</section>

<!-- Modal para la actualizar el servidor actual -->
<section th:fragment="updateServerModal">
    <div class="modal fade" th:id="'updateServerModal'">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header text-white dayi-primary">
                    <h5 class="modal-title">Información del servidor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form
                        th:action="@{/cynanthus/dayi/server}"
                        th:object="${currentServer}"
                        method="POST"
                        class="was-validated"
                >
                    <input type="hidden" name="id" th:field="*{id}" required="false"/>
                    <div class="modal-body">

                        <div class="form-group">
                            <label th:for="${#ids.next('name')}">Nombre servidor</label>
                            <input type="text" class="form-control" th:field="*{name}" required="true">
                        </div>
                        <div class="form-group">
                            <label th:for="${#ids.next('address')}">Dirección en red del servidor</label>
                            <input type="text" class="form-control" th:field="*{address}" required="true">
                        </div>
                        <div class="form-group">
                            <label th:for="${#ids.next('port')}">Puerto</label>
                            <input type="number" class="form-control" th:field="*{port}" required="true">
                        </div>
                        <div class="form-group">
                            <label th:for="${#ids.next('serverType')}">Tipo de servidor</label>
                            <select class="form-select" th:field="*{serverType}" required="true">
                                <option value="STORAGE" selected>Servidor de almacenamiento</option>
                                <option value="STREAM_DATA">Servidor de flujo de datos</option>
                                <option value="CONTROL">Servidor de control</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label th:for="${#ids.next('info')}">Información adicional</label>
                            <textarea cols="80" rows="2" th:field="*{info}" required="false"></textarea>
                        </div>

                    </div>

                    <div class="modal-footer bg-light">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</section>

<!-- Modal para eliminar el servidor actual -->
<section th:fragment="deleteServerModal">
    <div class="modal fade" id="deleteServerModal">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header text-white dayi-primary">
                    <h5 class="modal-title">Eliminar servidor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <span>
                        <p>¿Desea eliminar [[${currentServer.name}]]?</p>
                    </span>
                </div>

                <div class="modal-footer bg-light">
                    <button class="btn btn-secondary" data-dismiss="modal">
                        <span>Cancelar</span>
                    </button>
                    <form th:action="@{/cynanthus/dayi/server/}+${currentServer.id}+@{/delete}" method="GET">
                        <button type="submit" class="btn btn-danger">
                            <span>Eliminar</span>
                        </button>
                    </form>

                </div>

            </div>
        </div>
    </div>
</section>

</body>
</html>