<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Cynanthus Dayi</title>
</head>
<body>

<div th:fragment="dayiSummary" class="container-fluid p-0 h-100">
    <div class="row h-25 m-0">
        <div class="col m-auto p-0 text-center">
            <h1 th:text="'Bienvenido a Cynanthus Dayi'" class="text-secondary"></h1>
        </div>
    </div>
    <div class="row h-75 m-0">
        <div class="col h-100 w-100 text-center p-0">
            <img
                    th:src="@{/img/cynanthus-logo.svg}"
                    alt="Logo Cynanthus"
                    class="h-75 m-auto"
            />
        </div>
    </div>
</div>

</body>
</html>