<!DOCTYPE html>
<html
        lang="es"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Cynanthus Dayi</title>
    <meta charset="UTF-8"/>
<body>

<!-- Cabezera de la UI -->
<header th:fragment="headerView" class="container-fluid p-0">
    <nav th:replace="components/navegation::headerBar"></nav>
</header>

<!--Contenido de la UI -->
<section th:fragment="contentUI" class="container-fluid flex-fill p-0 rounded dayi-pane-bg">
    <div class="row m-0 h-100">
        <div class="col-lg-2 p-1">
            <div th:replace="~{components/navegation::serversBar}"></div>
        </div>
        <div id="mainArea" class="col-lg-10 p-1">
            <div th:replace="~{components/summary::dayiSummary}"></div>
        </div>
    </div>
</section>

</body>
</html>