<!DOCTYPE html>
<html
        lang="es"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Cynanthus Dayi</title>
    <meta charset="UTF-8"/>
<body>

<!-- Cabezera de la UI -->
<header th:fragment="headerView" class="container-fluid p-0">
    <nav th:replace="components/navegation::bar"></nav>
</header>

<!-- Contenido principal de la UI -->
<section th:fragment="contentView" class="container-fluid flex-fill p-0 bg-white rounded">

    <div class="row h-100 m-0">

        <!-- Barra de navegación de servidores -->
        <section class="col-lg-2 p-1">
            <div th:replace="~{this::roundedPlate(~{components/navegation::serverNavegationBar})}"></div>
        </section>

        <!-- Area de contenido -->
        <section class="col-lg-10 p-1">

            <th:block th:switch="${viewOption}">
                <th:block th:case="'WELCOME_VIEW'">
                    <div th:replace="~{components/welcome::welcomeView}"></div>
                </th:block>

                <th:block th:case="'SERVER_VIEW'">
                    <div th:replace="~{this::roundedPlate(~{components/server::serverView})}"></div>
                </th:block>

                <th:block th:case="'USERS_VIEW'">
                    <div th:replace="~{this::roundedPlate(~{components/users::usersView})}"></div>
                </th:block>

                <th:block th:case="'INSTRUCTIONS_VIEW'">
                    <div th:replace="~{this::roundedPlate(~{components/instructions::instructionsView})}"></div>
                </th:block>
            </th:block>

        </section>

    </div>

</section>

<div
        th:fragment="roundedPlate(content)" class="d-flex flex-column h-100 bg-light rounded border"
        th:insert="${content}"
>

</div>

</body>
</html>