<!DOCTYPE html>
<html
        lang="es"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        class="dayi-viewport"
>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body class="d-flex flex-fill vh-100 dayi-body">

<div class="container-fluid flex-fill p-1 h-100">

    <div class="row flex-fill m-0 w-100 h-100">

        <!-- Contenedor logotipo -->
        <div class="col-lg-8 p-2">
            <div class="d-flex h-100 flex-column rounded">
                <div class="row m-0 flex-fill">
                    <img
                            th:src="@{/img/cynanthus-logo.svg}"
                            alt="Logo Cynanthus"
                            class="dayi-logo-style m-auto"
                    />
                </div>
                <div class="row m-0 h-25">
                    <h1 class="w-100 h-100 align-middle text-center text-white" th:text="'Cynanthus Dayi'"></h1>
                </div>
            </div>
        </div>

        <!-- Panel de inicio de sesión -->
        <div class="col-lg-4 p-2">
            <div class="card h-100 bg-transparent border-0">

                <div class="d-flex flex-fill flex-column">

                    <div class="row m-0 h-50 dayi-pane-bg rounded-top">
                        <div class="col m-0 p-0">
                            <div class="card-header bg-transparent h-100 text-center">
                                <div class="d-flex flex-fill flex-column h-100 p-0">
                                    <div class="row flex-fill m-0">
                                        <div class="col p-0">
                                            <div class="d-flex h-100">
                                                <i class="fas fa-6x fa-user m-auto dayi-secondary-color"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row m-0">
                                        <div class="col">
                                            <h4 th:text="'Iniciar sesión'"></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <form method="POST" class="row m-0 h-50" th:action="@{/login}">

                        <div class="d-flex flex-fill flex-column p-0 h-100">
                            <div class="row m-0 flex-fill overflow-auto bg-white" style="overflow-y: scroll">
                                <div class="col p-0">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="username" th:text="'Nombre de usuario:'"></label>
                                            <input type="text" class="form-control" name="username" id="username"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="password" th:text="'Contraseña:'"></label>
                                            <input type="password" class="form-control" name="password" id="password"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row m-0 dayi-pane-bg rounded-bottom">
                                <div class="col h-100 m-0 p-0">
                                    <div class="card-footer bg-transparent h-100">
                                        <input type="submit" value="Ingresar" class="btn btn-primary btn-block m-auto"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>

    </div>

</div>

</body>
</html>